<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Студенты группы</title>
    <link rel="stylesheet" href="/static/group_students.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>
<header class="header">
    <h1>AutoLab</h1>
    <div style="display: flex; gap: 12px;">
        <button class="header-btn" id="home-btn" onclick="window.location.href='/'">
            <i class="fas fa-home"></i> Главная
        </button>
    </div>
    <link rel="stylesheet" href = "/static/header.css">
</header>
    <div class="container">
        <h2>Студенты группы</h2>
        <div id="students-list" class="students-list-container">
            <div class="loading-indicator">
                <div class="loading-spinner"></div>
                <span>Загрузка студентов...</span>
            </div>
        </div>
    </div>
    <script src="/static/env.js"></script>
    <script type="module" src="/static/group_students.js"></script>
</body>
</html>
