<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Красивая страница</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<header>
    <div class="container">
        <nav>
            <div class="logo">AutoLab</div>
            <ul class="menu">
                <li><a href="/tasks">Мои задачи</a></li>
                <li><a href="/upl_tasks">Загрузить задачу</a></li>
            </ul>
            <button class="auth-btn" id="loginBtn">Войти</button>
            <button class="auth-btn" id="profileBtn" hidden>Профиль</button>
            <button class="auth-btn" id="logoutBtn" hidden>Выйти</button>
        </nav>
    </div>
</header>

<section class="content">
    <div class="container">
        <div class="hero">
            <h1>AutoLab</h1>
        </div>
    </div>
</section>

<div class="login-modal" id="loginModal">
    <div class="login-form">
        <h2 style="margin-bottom: 20px; text-align: center; color: #2c3e50;">Вход в аккаунт</h2>
        <form id="authForm">
            <div class="form-group">
                <label for="username">Имя пользователя или Email</label>
                <input type="text" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" required>
            </div>
            <div class="form-actions">
                <button type="button" class="close-btn" id="closeBtn">Закрыть</button>
                <button type="submit" class="login-submit">Войти</button>
            </div>
        </form>
    </div>
</div>
<script src="/static/main.js"></script>
</body>
</html>
    