<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Результаты проверки кода</title>
    <link rel="stylesheet" href="/static/tasks.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
    <script>
        marked.setOptions({
            highlight: function (code, lang) {
                return hljs.highlightAuto(code, [lang]).value;
            }
        });
    </script>
</head>

<body>

<div id="loading">Загрузка результатов...</div>

<div id="tasks-container">

</div>
<div id="ai-modal"
     style="display: none; position: fixed; inset: 0; background: rgba(0, 0, 0, 0.7); justify-content: center; align-items: center;">
    <div style="background: white; padding: 20px; border-radius: 5px; max-width: 600px; width: 100%; position: relative;">
        <button class="close-btn"
                style="position: absolute; top: 10px; right: 10px; background: none; border: none; font-size: 20px;">
            &times;
        </button>
        <div id="ai-modal-body" style="max-height: 400px; overflow-y: auto;"></div>
    </div>
</div>


<script src="/static/tasks.js"></script>
</body>

</html>